* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  color: $white;
  background-color: $metal;
}

ul,
li,
p,
img,
h1,
h2,
input,
button,
{
  padding: 0;
  margin: 0;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: normal;
}

input {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}
