.f-40 {
  font-size: 40px;
}

.f-32 {
  font-size: 32px;
}

.f-24 {
  font-size: 32px;
}

.f-18 {
  font-size: 18px;
}

.f-14 {
  font-size: 14px;
}

.f-12 {
  font-size: 12px;
}


// <================================ FONT WEIGHT

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}


