$metal: #2B303A;
$metalDark: #111317;
$metalMiddle: #7A818E;
$metalLight: #E9EDF4;
$white: #FFFFFF;
$red: #E1261C;
$metalGradient: linear-gradient(90deg, #2B303A 0%, #3F4756 100%);
$redGradient: linear-gradient(90deg, #911812 0%, #E1261C 100%);
$metalLightGradient: linear-gradient(90deg, #D3DAE8 0%, #A7B7D8 100%);
$easeIn: cubic-bezier(.23, -0.01, .19, .99)

